@import '../../variables.scss';

.qrCode {
  background-color: $white;
  width: 320px;
  margin: 152px auto;
  border-radius: 20px;
}

.qrCode__img {
  width: 288px;
  height: 288px;
  margin: 16px 16px 0 16px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.qrCode__title {
  color: $darkBlue;
  margin: 24px 16px 16px 16px;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.qrCode__description {
  padding: 0 32px 32px 32px;
  margin: 0;
  color: $grayishBlue;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}

