#qr-code {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    margin: 152px auto;
    border-radius: 25px;
}

.code-img {
    width: 288px;
    height: 288px;
    margin: 16px 16px 0 16px;
    border-radius: 25px;
}

.title {
    color: hsl(218, 44%, 22%);
    margin: 16px 32px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.description {
    padding: 0 32px 32px 32px;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
}